.indicator-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: var(--constant);
  min-height: 400px;
  min-width: 320px;
  transition: all 0.3s;
}
.info-bar {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  font-weight: bold;
  color: black;
  font-size: 16px;
  min-height: 60px;
}
.icon {
  color: gray;
}
.graph-bar {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100px;
}
.tag-bar {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100px;
}
.tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--constant);
}
.tag-value {
  font-size: 14px;
}
.tag-title {
  width: 65px;
  padding: var(--constant) var(--constant);
  background-color: pink;
  text-align: center;
  font-size: 13px;
}
.indicators-bar {
  flex: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--constant);
  padding: var(--constant);
}
.indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.indicator-value {
  font-size: 14px;
}
.indicator-title {
  text-transform: uppercase;
  color: gray;
  font-size: 13px;
}
.dropdown-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: hidden;
  background-color: white;
  height: fit-content;
}
.dropdown-indicator {
  flex-direction: row;
  padding: 10px 0px;
}
.dropdown-tag > p {
  font-size: 13px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--constant) 10px;
  border-radius: 2px;
}
.dropdown {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-btn {
  color: var(--grey);
  text-align: right;
  padding: 0px 10px;
  cursor: pointer;
}
