.main-container {
  width: 100%;
  height: 90%;
  background-color: rgb(252, 251, 251);
  padding: var(--constant);
}
.main-grid-container {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2%;
}
@media screen and (max-width: 778px) {
  .main-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
  }
}
